# version: '3.9'

# services:
#   dev:
#     build: .
#     image: mle-assignment:dev
#     container_name: mle_jupyter

#     volumes:
#       - .:/app
#     ports:
#       - "8888:8888"

#     environment:
#       - TZ=Asia/Singapore
#       - JUPYTER_ENABLE_LAB=yes

#     command: ["jupyter", "lab", "--ip=0.0.0.0", "--port=8888", "--no-browser", "--allow-root", "--notebook-dir=/app"]

#     restart: unless-stopped

# version: '3.8'

# 删掉 version: 行

x-airflow-common: &airflow-common
  image: mle-airflow:2.10.2-py3.10
  env_file:
    - .env
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    PYTHONPATH: /opt/airflow:/opt/airflow/scripts  
    MLE_ASSIGNMENT_DIR: /opt/airflow          
    DATA_DIR: /opt/airflow/data  
  volumes:
    - ./dags:/opt/airflow/dags
    - ./scripts:/opt/airflow/scripts
    - ./utils:/opt/airflow/utils    
    - ./data:/opt/airflow/data   
    - ./datamart:/opt/airflow/datamart
    - ./model_bank:/opt/airflow/model_bank
    - ./logs:/opt/airflow/logs
  user: "${AIRFLOW_UID:-50000}:0"



services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d airflow"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        set -e
        echo "==> migrate db (postgres)"; airflow db migrate
        echo "==> create admin user"
        airflow users create \
          --username admin \
          --password admin \
          --firstname Airflow \
          --lastname Admin \
          --role Admin \
          --email admin@example.com
        echo "==> create default connections"; airflow connections create-default-connections
        echo "Initialization done"
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

  webserver:
    <<: *airflow-common
    command: webserver
    ports: ["8080:8080"]
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully

  scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
  
  announcer:
    image: curlimages/curl:8.9.1
    command: ["sh","-lc","echo 'Airflow UI → http://localhost:8080' && until curl -sSf http://webserver:8080 > /dev/null; do echo 'waiting webserver…'; sleep 2; done; echo 'Airflow is ready! Web UI: http://localhost:8080'"]
    depends_on:
      webserver:
        condition: service_started

volumes:
  postgres-db-volume:
